body {
    font-family: 'Montserrat', sans-serif;
  }
  

// Main container and global settings
.container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: #50aba3; // Updated background color
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
  }
  
  .app-title {
    font-family: 'Oswald', sans-serif;
    color: #fff; 
    text-align: center;
  }
  
  // Input area
  .task-input {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  
    input {
      flex-grow: 1;
      margin-right: 10px;
      padding: 8px;
      border: 2px solid #ccc;
      border-radius: 8px;
      font-family: 'Montserrat', sans-serif;
    }
  
    button {
      padding: 8px 16px;
      background-color: #5c67f2;
      color: white;
      border: none;
      border-radius: 8px;
      cursor: pointer;
  
      &:hover {
        background-color: #4a54e1;
      }
    }
  }
  
  // Task cards
  .task-list {
    .task-card {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      margin-bottom: 10px;
      background-color: white; // Ensuring task cards are white
      border-radius: 8px; // Rounded borders for task cards
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
      font-family: 'Montserrat', sans-serif;
  
      button {
        margin-left: 10px;
        background-color: #ff6b6b;
        color: white;
        border: none;
        border-radius: 8px;
        padding: 5px 10px;
        cursor: pointer;
        font-family: 'Montserrat', sans-serif;

  
        &:first-child {
          background-color: #4cd137;
        }
  
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
  
  // Modal for editing tasks
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #f3f4f6;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    z-index: 1000;
  
    input {
      width: 300px;
      margin-bottom: 10px;
      padding: 8px;
      border: 2px solid #ccc;
      border-radius: 8px;
      font-family: 'Montserrat', sans-serif;

    }
  
    button {
      margin-right: 10px;
      font-family: 'Montserrat', sans-serif;

    }
  }
  